.lista {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 7rem 1.5rem;
    list-style: none;
    margin: 0 auto;
    justify-content: center;
}

.item {
    flex: 1 1 250px;
    max-width: 300px;
    background-color: #fff;
    border: 1px solid #73b9fa;
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.item:hover {
    transform: translateY(-7px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.item img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-bottom: 1px solid #73b9fa;
    transition: transform 0.3s ease;
}

.item:hover img {
    transform: scale(1.05);
}